<div class="all">
    <div class="center">
        <div class="qrCodes">
            <ul class='circle-container'>
                <li><div class="qr"> <img class="qrImg" src='{{qr}}'></div></li>
                <li><div class="qr"> <img class="qrImg" src='{{qr}}'></div></li>
                <li><div class="qr"> <img class="qrImg" src='{{qr}}'></div></li>
                <li><div class="qr"> <img class="qrImg" src='{{qr}}'></div></li>
                <li><div class="qr"> <img class="qrImg" src='{{qr}}'></div></li>
                <li><div class="qr"> <img class="qrImg" src='{{qr}}'></div></li>
                <li><img id=add src='/assets/augmented_table/signin/add.png'></li>
                <li><div class="qr"> <img class="qrImg" src='{{qr}}'></div></li>
            </ul>
            <div id="confirm" [style.background-color]="readyToPlay() ? '#2ECC71' : '#aaaaa'"
                [style.boxShadow]="readyToPlay() ? '9px 8px 0px #259A56' : '0 0 0'">
                <img id="tick" src="/assets/augmented_table/signin/tick.png" alt="">
            </div>
            <div class="joinedPlayers" *ngIf="!readyToPlay()" >
                <p id=p1>{{joined_players}}/7</p>
                <p id=p2>{{joined_players}}/7</p>
                <p id=p3>{{joined_players}}/7</p>
                <p id=p4>{{joined_players}}/7</p>
            </div>
        </div>
    </div>
    <div class="photos">
        <img id="leftBandit" src="assets/augmented_table/signin/leftBandit.png" alt="">
        <img id="gun" src="assets/augmented_table/signin/gun.png" alt="">
        <img id="rightBandit" src="assets/augmented_table/signin/rightBandit.png" alt="">
        <img id="hands" src="assets/augmented_table/signin/hands.png" alt="">
    </div>
</div>