<!-- <div class="all"> -->
<!-- <div class="background">
        <div id="backgroundDay">
            <span id=mafiaDay>Mafia</span>
            <img id="dayV" src="/assets/augmented_table/signin/dayVector.png" alt="dayVector">
        </div>
        <div id="backgroundNight">
            <span id=mafiaNight>Mafia</span>
            <img id="nigthV" src="/assets/augmented_table/signin/nightVector.png" alt="dayVector">
        </div>
    </div>
    <div class="center">
        <img class="table" src="/assets/augmented_table/signin/table.png" alt="">
        <div class="qrCodes">
            <div class="addPlayer">
                <img src="/assets/augmented_table/signin/add.png" alt="">
            </div>
            <div class="qr">
                <img id="qr1" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
            <div class="qr">
                <img id="qr2" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
            <div class="qr">
                <img id="qr3" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
            <div class="qr">
                <img id="qr4" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
            <div class="qr">
                <img id="qr5" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
            <div class="qr">
                <img id="qr6" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
            <div class="qr">
                <img id="qr7" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
            <div class="qr">
                <img id="qr8" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
            <div class="qr">
                <img id="qr9" src="/assets/augmented_table/signin/qr.png" alt="">
            </div>
        </div>
        <div id="confirm">
            <img id="tick" src="/assets/augmented_table/signin/tick.png" alt="">
        </div>
        
    </div> -->
<!-- <div class="photos">
        <img id="leftBandit" src="assets/augmented_table/signin/leftBandit.png" alt="">
        <img id="gun" src="assets/augmented_table/signin/gun.png" alt="">
        <img id="rightBandit" src="assets/augmented_table/signin/rightBandit.png" alt="">
        <img id="hands" src="assets/augmented_table/signin/hands.png" alt="">
    </div> -->

<div id="bg">
    <ul class='circle-container'>
        <li><img src='/assets/augmented_table/signin/qr.png'></li>
        <li><img src='/assets/augmented_table/signin/qr.png'></li>
        <li><img src='/assets/augmented_table/signin/qr.png'></li>
        <li><img src='/assets/augmented_table/signin/qr.png'></li>
        <li><img src='/assets/augmented_table/signin/qr.png'></li>
        <li><img src='/assets/augmented_table/signin/qr.png'></li>
        <li><img src='/assets/augmented_table/signin/add.png'></li>
        <li><img src='/assets/augmented_table/signin/qr.png'></li>
    </ul>
    
</div>