<div class="all">
    <div class="center">
        <div class="qrCodes">
            <ul class='circle-container'>
                <li>
                    <div class="qr" *ngIf="!qr5()"> <img class="qrImg" src='{{qrs[5]}}'></div>
                </li>
                <li>
                    <div class="qr" *ngIf="!qr4()"> <img class="qrImg" src='{{qrs[4]}}'></div>
                </li>
                <li>
                    <div class="qr" *ngIf="!qr3()"> <img class="qrImg" src='{{qrs[3]}}'></div>
                </li>
                <li>
                    <div class="qr" *ngIf="!qr2()"> <img class="qrImg" src='{{qrs[2]}}'></div>
                </li>
                <li>
                    <div class="qr" *ngIf="!qr1()"> <img class="qrImg" src='{{qrs[1]}}'></div>
                </li>
                <li>
                    <div class="qr" *ngIf="!qr0()"> <img class="qrImg" src='{{qrs[0]}}'></div>
                </li>
                <li>
                    <img id=add src='/assets/augmented_table/signin/add.png'>
                </li>
                <li>
                    <div class="qr" *ngIf="!qr6()"> <img class="qrImg" src='{{qrs[6]}}'></div>
                </li>
            </ul>
            <div id="confirm" (click)="startGame()" [ngClass]="{'shadow': readyToPlay()}">
                <img id="tick" src="/assets/augmented_table/signin/tick.png" alt="">
            </div>
            <div class="joinedPlayers" *ngIf="!readyToPlay()">
                <p id=p1>{{joined_players}}/7</p>
                <p id=p2>{{joined_players}}/7</p>
                <p id=p3>{{joined_players}}/7</p>
                <p id=p4>{{joined_players}}/7</p>
            </div>
        </div>
    </div>
    <div class="photos">
        <img id="leftBandit" *ngIf="!left()" src="assets/augmented_table/signin/leftBandit.png" alt="">
        <img id="gun" *ngIf="!bot_left()" src="assets/augmented_table/signin/gun.png" alt="">
        <img id="rightBandit" *ngIf="!right()" src="assets/augmented_table/signin/rightBandit.png" alt="">
        <img id="hands" *ngIf="!bot_right()" src="assets/augmented_table/signin/hands.png" alt="">
    </div>
    <div class="leftPlayers">
        <div class="player_container">
            <div class="player" *ngFor="let player of left_players; trackBy: trackF">
                <div class="name_text">{{player.name}}</div>
                <img style="width: 70%;" src="/assets/players/{{player.avatar_path}}">
            </div>
        </div>
    </div>
    <div class="rightPlayers">
        <div class="player_container">
            <div class="player" *ngFor="let player of right_players">
                <div class="name_text">{{player.name}}</div>
                <img style="width: 70%;" src="/assets/players/{{player.avatar_path}}">
            </div>
        </div>
    </div>
    <div class="middlePlayers">
        <div class="player_container">
            <div class="player" *ngFor="let player of middle_players">
                <div class="name_text">{{player.name}}</div>
                <img style="width: 70%;" src="/assets/players/{{player.avatar_path}}">
            </div>
        </div>
    </div>
</div>