<div *ngIf="initialized" class="all" [style.background-color]="isDay() ?  '#E67E22' : '#34495E'">
  <div class="wrapper" *ngIf="deathRevealing == 0">
    <img class="tv_upper_icon" [attr.src]="isDay()? '/assets/smart_tv/Sun.png' : '/assets/smart_tv/moon.png'"
      alt="Background icon">

    <span *ngIf="isDay()" class="count">Day {{count}}</span>
    <span *ngIf="!isDay()" class="count">Night {{count}}</span>

    <img [style.height]="!isSecretVoting()? '210px':'375px'" id="tv-rectangle"
      src="/assets/smart_tv/{{background_rect}}.png" alt="Background vector">
    <div class="middle">
      <div [className]="isSecretVoting() ? 'player_container_upper' : 'player_container'">
        <div class="player" *ngFor="let player of players; let i=index" [ngStyle]="isSecretVoting()? { 'width': 'calc(75% / (' + this.players.length -2 + '))' } :
                     {'width': 'calc(95% / ' + this.players.length + ')' }"
          [ngClass]="(isSecretVoting() && (isSuspect(player.name)||player.dead!='alive')) ? 'hide': '' ">
          <div class="name_text">{{player.name}}</div>
          <img style="width: 90%;" src="/assets/players/{{player.avatar_path}}">
          <div class="votes" [ngClass]="{hide: !showVotes(i) || !isOpenBallot()}">
            {{this.votesOfPlayers.get(this.players[i].name)}}
          </div>
          <div *ngIf="!isSecretVoting() && player.dead!='alive'" class="card">
            <img *ngIf="players[i].dead =='night'" src="/assets/smart_tv/card_night.png" alt="card icon">
            <img *ngIf="players[i].dead =='day'" class="cardicon" src="/assets/smart_tv/card_{{players[i].role}}.png"
              alt="card icon">
          </div>
        </div>
      </div>
    </div>
    <div class="secretVoting" [ngClass]="{hide: !isSecretVoting()}">
      <p id="final_words">Who will say their final words?</p>
      <div id="suspect_container">
        <div *ngFor="let player of suspects; let i=index" class="suspect">
          <img style="width: 100%;" src="/assets/players/{{player.avatar_path}}">
          <div class="name_text_down">{{player.name}}</div>
        </div>
      </div>
    </div>
    <div>
      <p id="next_up_text">next up:</p>
      <img class="next_up_img" src="/assets/smart_tv/{{next_up_icon}}.png" alt="next up" (click)="manualChange();">
      <p class="next_up_title">{{next_title}}</p>
    </div>
    <div class="round">
      <p class="down_title">{{phase_title}}</p>
      <img class="down_vector" src="/assets/smart_tv/{{round_title_path}}.png" alt="Title of round">
    </div>
  </div>
  <div class="deathReveal" *ngIf="deathRevealing != 0"
    [style.position]="(deathRevealing == 1) ? 'absolute' : 'relative'">
    <img *ngIf="deathRevealing == 1"
      [attr.src]="isSecretVoting() ? '/assets/smart_tv/deathReveal1Day.png' : '/assets/smart_tv/deathReveal1Night.png'"
      alt="">
    <div *ngIf="deathRevealing == 2" style="position:relative;">
      <img
        [attr.src]="isSecretVoting() ? '/assets/smart_tv/deathReveal2Day.png' : '/assets/smart_tv/deathReveal2Night.png'"
        id="death_background" alt="">
      <div class="dead_container">
        <img class="deadIcon" src="/assets/smart_tv/{{dead_path}}" alt="Icon of dead player">
        <div class="deadReveal">{{dead}}<br />is out of the game</div>
      </div>
      <div [ngClass]="{hide: !isSecretVoting()}">
        <div class="deadReveal2">{{dead}} was...</div>
        <div class="row">
          <div class="roleDead">A {{role_of_dead}}</div>
          <div class="cardDead">
            <img class="cardOfDead" src="/assets/smart_tv/card_{{role_of_dead}}.png" alt="Card Of Dead">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gameEnd" *ngIf="gameEnded()">
    <div *ngIf="isDay()">
      <img src="/assets/smart_tv/gameOverDay.png" alt="">
    </div>
    <div *ngIf="!isDay()">
      <img src="/assets/smart_tv/gameOverNight.png" alt="">
    </div>
    <div class="winner">The {{winner}} won</div>
    <div class="winnerImg">
      <img src="/assets/smart_tv/winner{{winner}}.png" alt="">
    </div>
  </div>
</div>
