.all {
    width: 100%;
    float: left;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.bt {
    width: 150px;
    margin: 0.5rem;   
}