<div class="background" (focus)="focusFunction()">
    <img *ngIf="parent.isWaiting()" id="waiting" src="/assets/mobile/hourglass.png" alt="waitingscreen">
    <div *ngIf="!parent.isWaiting()">
        <div id="cards">
            <div class="flip-card" *ngFor="let player of parent.players; let i = index;">
                <div class="flip-card-inner" (click)="toggleflip(i)" [ngClass]="flips[i] ? 'flip' : ''">
                    <div class="flip-card-front" [class.dead]="player.dead !='alive'">
                        <img class="avatar" src="/assets/players/{{getpath(player.avatar_path)}}">
                        <div class="playername">{{player.name}}<span *ngIf="i==0" style="opacity: 0.5;"><br>(You)</span>
                        </div>
                    </div>
                    <div class="flip-card-back" [class.dead]="player.dead !='alive'">
                        <div class="myrow">
                            <img class="avatar" src="/assets/players/{{getpath(player.avatar_path)}}">
                            <div style="display: flex;
                            justify-content: center;
                            align-content: center;
                            flex-direction: column;
                            height:100%">
                                <div class="playername">{{player.name}}<span *ngIf="i==0"
                                        style="opacity: 0.5;font-size: 11px;"><br>(You)</span></div>

                            </div>
                        </div>

                        <img src="/assets/roles/{{player.role}}.png">
                    </div>
                </div>
            </div>
        </div>
        <button id="flipbutton" (click)="flipall()">
            <img src="/assets/mobile/flipbutton.png">
        </button>
    </div>

    <div id="popcard" (click)="toggleCard()"  [class.move] ="card_open" *ngIf="cardinit">
        <svg width="79" height="3" viewBox="0 0 79 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="79" height="3" rx="1.5" fill="#C4C4C4" />
        </svg>

        <div class="role_title" *ngIf="parent.role == 'Civilian'">
            You are a {{parent.role}}!</div>
        <div class="role_title" *ngIf="parent.role != 'Civilian'">
            You are the {{parent.role}}!</div>

        <div id="role_image">
            <img src="/assets/smart_tv/card_{{parent.role}}.png">
        </div>

        <div id="role_description_title">Role description:</div>
        <div id="role_description">{{descriptions.get(parent.role)}}</div>
        <div *ngFor="let player of accomplices" class="accomplices">
            <div class="accomplice_image">
                <img src="/assets/players/mobile_{{player.avatar_path}}">
            </div>
            <div class="accomplice_role">
                <img src="/assets/roles/{{player.role}}.png">
            </div>
            <div class="accomplices_description" *ngIf="player.role == 'Mason'">
                {{player.name}} is the other Mason
            </div>
            <div class="accomplices_description" *ngIf="player.role != 'Mason'">
                {{player.name}} is the {{player.role}}
            </div>
        </div>
    </div>
</div>