<div style="height:100%; display:flex;">

    <div id="container">
        <p id="prompt">
            <span *ngIf="parent.isOpenBallot()">Who is your main suspect?</span>
            <span *ngIf="parent.isSecretVoting()">Who do you want to kill?</span>
            <span *ngIf="parent.isMafiaVoting()">Who will die tonight?</span>
            <span *ngIf="parent.round =='Detective'">Whose role would you like to know?</span>
            <span *ngIf="parent.round =='Doctor'">Who will be protected tonight?</span>
            <span *ngIf="parent.round =='Barman'">Whose powers will be muted tonight?</span>
        </p>
        
        <div id="avatars">
            <div *ngFor="let player of parent.suspects; let i = index;" [ngClass]="(i==selectedavatarindex)?'selected':''"
            (click)="selectedavatar(i)" class="avatar">
            <img src="/assets/players/mobile_{{player.avatar_path}}" alt="Avatar{{number}}">
            <span class="name">{{player.name}}</span>
        </div>
    </div>
    <button *ngIf="!parent.voted" id="confirm" (click)="parent.submitVote()" type="button" value=""></button>
</div>
</div>