<div class="background" [style.background-color]="isDay() ?  '#E67E22' : '#34495E'">
    <mat-tab-group *ngIf="players" headerPosition="below" [disableRipple]=true [selectedIndex]="1">
        <mat-tab>
            <ng-template mat-tab-label>
                <img src="/assets/mobile/infonavbar.png" alt="Info">
            </ng-template>
            <ami-fullstack-info></ami-fullstack-info>
        </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
                <img src="/assets/mobile/homenavbar.png" alt="Home">
            </ng-template>
            <ami-fullstack-home></ami-fullstack-home>
        </mat-tab>
        <mat-tab
          [disabled]="!isVoting()"> 
            <ng-template mat-tab-label>
                <img src="/assets/mobile/votingnavbar.png" alt="Voting">
            </ng-template>
            <ami-fullstack-voting></ami-fullstack-voting>
        </mat-tab>
    </mat-tab-group>
    <router-outlet></router-outlet>
</div>