.background {
  min-height: calc(100vh - 48px);
  height: auto;
  margin: 0;
}

@media (max-width :600px) {
  .mat-tab-label {
    min-width: 33.3% !important;
    background-color: black;
    opacity: 1 !important;
  }
  .mat-tab-disabled img {
    opacity: .3 !important;
  }
}

.mat-tab-label img {
  opacity: .8;
}

.mat-tab-label .mat-tab {
  background-color: black;
}

.mat-tab-label-active img {
  opacity: 1;
}

.mat-tab-label-active {
  background: #2F2F2F;
}

.mat-tab-group {
  height: 100vh;
}

.mat-tab-disabled img {
  opacity: .3 !important;
}
