<div>
    <div class=all [style.background-color]="isDay() ?  '#E67E22' : '#34495E'">
        <div class=topBar>
            <div>
                <span>
                    <img id=topVector src="../../../../assets/augmented_table/Vector.png" alt="Vector">
                </span>
                <div class=phases>
                    <img class=icon src="../../../../assets/augmented_table/Open Ballot.png" alt="Ballot">
                </div>
            </div>
        </div>
        <div class=wrapper>
            <img id=backgroundSVG src="../../../../assets/augmented_table/{{backgroundSVG}}.svg" alt="Background vector">
        </div>
    </div>
    
</div>