body {
  font-family: Revalia;
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 360px;
  height: 740px;
  line-height: 45px;
  font-size: 24px;
  background: #F5F7FA;
  padding: 40px 12px;
}

#inputname {
  position: relative;
  width: 336px;
  height: 45px;
  //   left: 12px;
  //   top: 79px;
  font-size: 18px;
  font-style: light;
  color: white;
  background: #E74C3C;
  border-radius: 10px;
  padding: 12px;
  border: none;
  margin-bottom: 20px;
}
::placeholder{
    color:rgb(229, 232, 235);
}

#avatars {
  position: relative;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}

.avatar {
  width: 97px;
  height: 93px;
  cursor: pointer;
  filter:drop-shadow( 1px 3px 0px rgba(0, 0, 0, 0.31));
}

.avatar > img {
    width: 88px;
    height: 86px;
    display: block;
    margin: auto;
    margin-top: 6px;
}

#confirm {
    cursor: pointer;
    position: absolute;
    width: 85px;
    height: 86px;
    left: 139px;
    top: 610px;
    border: none;
}

.selected{
    
    filter:none;
    background: no-repeat top url("../../../../assets/players/avatar_selected.png");
    background-origin: padding-box;;
}
