.all {
  font-family: 'Revalia';
  font-size: 28px;
  width: 1780px;
  height: 800px;
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  overflow: hidden;
  z-index: -1;

}

#narrator_title {
  font-size: 140px;
  color: black;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

.butt {
  background-color: #AD392D;
  border-radius: 26px;
  width: 543px;
  height: 344px;
  opacity: 0.6;
}

.butt:hover {
  opacity: 1;
}

.button_container {
  justify-content: space-evenly;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 63px;
  line-height: 78px;
  align-items: center;
}

#player_icon {
  width: 182.41px;
  height: 182.41px;
  margin-top: 8%;
  opacity: 1;
}

#speaker {
  width: 217px;
  height: 188px;
  margin-top: 8%;
  opacity: 1;
}

#narr_txt {
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 105px;
  color: black;
  text-align: center;
  margin-top: 1%;
}

#bar {
  position: absolute;
  width: 800px;
  height: 0px;
  top: 394px;
  background-color: #F5F7FA;
  border: 6px solid #F5F7FA;
  transform: rotate(90deg);
  left: -174px;
  z-index: 1;
}

.background_icon_day {
  position: absolute;
  width: 966px;
  height: 424px;
  left: 786px;
  top: 377px;
}

#timeline {
  position: relative;
  left: 155px;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  height: auto;
}

.slideup, .slidedown {
  max-height: 800px;            
  overflow-y: hidden;
  -webkit-transition: max-height 1.5s ease-in-out;
  -moz-transition: max-height 1.5s ease-in-out;
  -o-transition: max-height 1.5s ease-in-out;
  transition: max-height 1.5s ease-in-out;
}
.slidedown {            
  max-height: 800px ;                    
}    

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

#day_txt {
  width: 142px;
  height: 100px;
  padding: 0px 22px;
  grid-column: 1;
  grid-row: 1;
  top: 52px;
  z-index: 3;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  text-align: center;
  color: #F5F7FA;
}

.game_start {
  width: 147px;
  height: 143px;
  margin-top: 25px;

}

.circleAndText {
  display: grid;

}

.circle {
  width: 147px;
  height: 143px;
  margin: 25px 0px;
  grid-column: 1;
  grid-row: 1;
}

.suspects {
  width: 300px;
  height: 125px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: auto 0;
  margin-left: 30px;
  align-content: center;
}

.timelineRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%
}

.suspect {
  width: 104px;
  height: 104px;
  z-index: 3;
}

#voters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 170px;
  margin: 0 10px;
}

.voter {
  width: 58px;
  height: 58px;
  z-index: 3;
  margin: 0 8px;
  margin-top: 8px;
}

.background_icon_night {
  position: absolute;
  width: 610px;
  height: 497.33px;
  left: 1144px;
  top: 303px;
}
