.all {
  font-family: 'Revalia';
  font-size: 28px;
  width: 1780px;
  height: 800px;
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  overflow: hidden;
  z-index: -1;

}

#narrator_title {
  font-size: 140px;
  color: black;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

.butt {
  background-color: #AD392D;
  border-radius: 26px;
  width: 543px;
  height: 344px;
  opacity: 0.6;
}

.butt:hover {
  opacity: 1;
}

.button_container {
  justify-content: space-evenly;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 63px;
  line-height: 78px;
  align-items: center;
}

#player_icon {
  width: 182.41px;
  height: 182.41px;
  margin-top: 8%;
  opacity: 1;
}

#speaker {
  width: 217px;
  height: 188px;
  margin-top: 8%;
  opacity: 1;
}

#narr_txt {
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 105px;
  color: black;
  text-align: center;
  margin-top: 1%;
}

#bar {
  position: absolute;
  width: 800px;
  height: 0px;
  top: 394px;
  background-color: #F5F7FA;
  border: 6px solid #F5F7FA;
  transform: rotate(90deg);
  left: -174px;
  z-index: 1;
}

.background_icon_day {
  position: absolute;
  width: 966px;
  height: 424px;
  left: 786px;
  top: 377px;
}

.timeline {
  position: relative;
  left: 155px;
  z-index: 2;
  width: 900px;
  overflow: auto;
  height: auto;

}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

#day_txt {
  width: 142px;
  padding: 0px 22px;
  top: -142px;
  z-index: 3;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  text-align: center;
  color: #F5F7FA;
}

.game_start {
  width: 147px;
  height: 143px;
  margin-top: 25px;

}

.circle {
  width: 147px;
  height: 143px;
  top: 173px;
  margin: 25px 0px;
}

.background_icon_night {
  position: absolute;
  width: 610px;
  height: 497.33px;
  left: 1144px;
  top: 303px;
}
